<div class="card border-secondary mb-3" >
  <div class="card-header">AFDSFASD</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Administración de Clientes Colmedica</h5>
    <div class="">
          <button type="button" name="button" [routerLink]="['/form-cliente']">Agregar Cliente</button>
      <br><br>
    </div>
    <table class="table-bordered table-striped">
      <thead>
        <tr>
          <td>Tipo Identificación</td>
          <td>Numero Identificación</td>
          <td>Primer Nombre</td>
          <td>Segundo Nombre</td>
          <td>Primer Apellido</td>
          <td>Segundo Apellido</td>
          <td>Fecha Nacimiento</td>
          <td>Email</td>
          <td>Dirección</td>
          <td>Celular</td>
          <td>Acciones</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.tipoIdentificacion.descripcionTipoIdentificacion}}</td>
          <td>{{cliente.numeroIdentificacion}}</td>
          <td>{{cliente.primerNombre}}</td>
          <td>{{cliente.segundoNombre}}</td>
          <td>{{cliente.primerApellido}}</td>
          <td>{{cliente.segundoApellido}}</td>
          <td>{{cliente.fechaNacimiento}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.direccion}}</td>
          <td>{{cliente.numeroCelular}}</td>
          <td>{{cliente.plan.descripcionPlan}}</td>
          <td>
              <form class="" action="index.html" method="post">
                <div class="">
                  <button type="button" name="editar" [routerLink]="['/form-cliente', cliente.numeroIdentificacion]" >editar</button>
                  <button type="button" name="eliminar" (click)='delete(cliente)' >eliminar</button>
                </div>
              </form>


          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
