<div class="card">
  <div class="card-header">    {{titulo}}  </div>
  <div class="card-body">
    <form>

      <div class="form-group row">
        <label for="tipoIdentificacion" class="col-form-label col-sm-2">Tipo Identificación</label>
        <div class="col-sm-6">
          <select  class="form-control" [(ngModel)]="cliente.tipoIdentificacion" name="tipoIdentificacion" style="width:500px;">
            <option [ngValue]="undefined">Selecione el Tipo de Identificación</option>
            <option *ngFor="let tipoIdentificacion of tiposIdentificacion" [ngValue]="tipoIdentificacion">{{tipoIdentificacion.descripcionTipoIdentificacion}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="documento" class="col-sm-5 control-label">Numero de Identificación*</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="cliente.numeroIdentificacion" name="numeroIdentificacion" size="50" placeholder="Numero Identificacion" value="" required="" aria-required="true">
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label for="primerNombre" class="col-sm-5 control-label">Primer Nombre</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="cliente.primerNombre" name="primerNombre" id="primerNombre" size="30" value="" required="" aria-required="true">
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="segundoNombre" class="col-sm-5 control-label">Segundo Nombre</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="cliente.segundoNombre" name="segundoNombre" id="segundoNombre" size="30" value="" required="" aria-required="true">
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="primerApellido" class="col-sm-5 control-label">Primer apellido</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="cliente.primerApellido" name="primerApellido" id="primerApellido" size="30" value="" required="" aria-required="true">
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="segundoApellido" class="col-sm-5 control-label">segundo apellido</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="cliente.segundoApellido" name="segundoApellido" id="segundoApellido" size="30" value="" required="" aria-required="true">
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="direccion" class="col-sm-5 control-label">direccion</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" id="numeroCelular" size="30" value="" required="" aria-required="true">
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="numeroCelular" class="col-sm-5 control-label">celular</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="cliente.numeroCelular" name="numeroCelular" id="numeroCelular" size="30" value="" required="" aria-required="true">
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label for="email" class="col-sm-5 control-label">Email*</label>
        <div class="col-sm-7">
          <input type="email" class="form-control validate-email" [(ngModel)]="cliente.email" name="email" id="email" size="30" placeholder="Email" value="" required="" aria-required="true">
        </div>
      </div>

      <div class="form-group">
        <label for="fechaNacimiento" class="col-sm-5 control-label">fechaNacimiento*</label>
        <div class="col-sm-7">
          <input type="fechaNacimiento" class="form-control" [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento" id="email" size="30" placeholder="Email" value="" required="" aria-required="true">
        </div>
      </div>

<div class="form-group row">
  <label for="plan" class="col-form-label col-sm-2">Plan</label>
  <div class="col-sm-6">
    <select   class="form-control" [(ngModel)]="cliente.plan" name="plan" style="width:500px;">
      <option [ngValue]="undefined">--- selecionar un plan ---</option>
      <option *ngFor="let plan of planes" [ngValue]="plan">{{plan.descripcionPlan}}</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <button role="button" (click)='update()' >Guardar</button>
    <button role="button" [routerLink]="['/clientes']">Cancelar</button>
  </div>
</div>
    </form>
  </div>
</div>
